@import '../common/variables';
@import '../common/mixins';


.area_nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-nav;
  width: 100%;
  height: 100%;
  padding-top: var(--header-h);
  // background: rgba(255, 255, 255, 0.8);
  background: white;
  box-sizing: border-box;
  animation: ani-nav_active 1s backwards ease-in-out;
}

.list_nav_main {
  display: grid;
  gap: var(--padding) 0;
  padding: var(--padding) 0;

  @include lg {
    grid-template-columns: repeat(2, 1fr);
  }
}

.btn_nav_main {
  display: block;
  padding: 10px 0;

  font: {
    size: 1.6rem;
    weight: 700;
  }
}

.btn_nav_sub {
  display: block;
  padding: 5px 0;

  font: {
    size: 1.6rem;
  }

  &:after {
    display: block;
    height: 1px;
    background: $border-default;
    transform-origin: left center;
    transform: scale(0);
    transition: transform 0.3s;
    content: '';
  }

  &:hover,
  &:focus {
    &:after {
      transform: scale(1);
    }
  }

  &.is_current_nav {
    &:after {
      background: $border-point;
      transition: none;
    }
  }
}

@keyframes ani-nav_active {
  0% {

    clip-path: inset(0 0 100% 0);
  }

  100% {
    clip-path: inset(0 0 0 0);
  }
}